@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html, body {
    font-family: 'Roboto', sans-serif;

}

p {
    font-family: 'Roboto', sans-serif;
}
.roboto {
    font-family: 'Roboto', sans-serif !important;
}
/* CSS DAVID */
main h3 {
    margin-bottom: 2em;
}


/* .title {
    height: 100vh;
} */
/* .title img {
    width: 100%;
    height: 100vh;
} */

.program {
    margin: 2em auto;
}

.program h3 {
    margin-bottom: 1em;
}
.title-back {
    padding: 0.5em;
}
.description {
    font-size: 1.2em;
    margin: auto;
    width: 75%;
    height: 100%;
   
}

.icon-language {
    height: 3em;
    width: 3em;
}

.picture-dev {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.picture-dev1 {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.picture-dev3 {
    display: none;
}

.language {
    margin-top: 5em;
}


@media (max-width:768px) {
    .title {
        height: auto;
    }

    /* .title img {
        height: 50vh;
    } */
    .program {
        margin: 0 auto;
        font-size: 1em;
    }

    main h3 {
        margin: 1em auto;
    }

    .language {
        margin: 1em auto;
    }

    @media (max-width:1024px) {
        .picture-dev1 {
            display: none;
        }

        .picture-dev3 {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .description {
            width: auto;
            margin-bottom: 1em;
            font-size: 1em;
        }

    }

}



























/* CSS THOMAS */

header {
    height: 20vh;
}

.logo {
    height: 22vh;
}

#ecole {
    height: 80vh;
}

.thegrid  {
    height: 70vh;
    display: grid;
    grid-template-rows: 3fr 2fr 5fr;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-areas:
    "first first batiment"
    "gare logo_rectangle batiment"
    "gare second second";
    gap: 0.5rem;
    }

    .first_text {
        grid-area: first;
    }
    
    .second_text {
        grid-area: second;
    }
    
    .batiment {
        grid-area: batiment;
    }
    
    .logo_rectangle {
        grid-area: logo_rectangle;
    }
    
    .gare {
        grid-area: gare ;
    }

    .thegrid img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

@media screen and (max-width :991px) {

    #ecole {
        width: auto;
        height: auto;
    }

    .thegrid  {
        height: 100%;
        display: grid;
        grid-template-rows: 50% 5% 45%;
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-areas:
        "first first batiment"
        "logo_rectangle logo_rectangle batiment"
        "second second second";
           gap: 0.5rem;
        }

}
























































































































































/* CSS MARIE SO */


















































































/* CSS MATHIS */

.footerbackground {
    background-color: #28004ec9;

}

.logofooter {
    height: 25px;
    width: 25px;
}

.parallax1 {
    /* The image used */
    background-image: url("../img/background1.jpg");
  
    /* Set a specific height */
    min-height: 300px; 
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax2 {
    /* The image used */
    background-image: url("../img/background2.jpg");
  
    /* Set a specific height */
    min-height: 300px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax3 {
    /* The image used */
    background-image: url("../img/background3.jpg");
  
    /* Set a specific height */
    min-height: 100px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

body {
    overflow-x: hidden;
}
@media screen and (max-width: 650px) {
    .parallax1, .parallax2, .parallax3 {
      background-attachment: scroll;
    }
    .cards {
        height: 60vh!important;
    }
}
