@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html, body {
    font-family: 'Roboto', sans-serif;

}

/* CSS DAVID */
main h3 {
    margin-bottom: 2em;
}

/* .title {
    height: 100vh;
} */
/* .title img {
    width: 100%;
    height: 100vh;
} */

.program {
    margin: 2em auto;
}

.program h3 {
    margin-bottom: 1em;
}
.title-back {
    padding: 0.5em;
}
.description {
    font-size: 1.2em;
    margin: auto;
    width: 75%;
    height: 100%;
   
}

.icon-language {
    height: 3em;
    width: 3em;
}

.picture-dev {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.picture-dev1 {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.picture-dev3 {
    display: none;
}

.language {
    margin-top: 5em;
}

@media (max-width:768px) {
    .title {
        height: auto;
    }

    /* .title img {
        height: 50vh;
    } */
    .program {
        margin: 0 auto;
        font-size: 1em;
    }

    main h3 {
        margin: 1em auto;
    }

    .language {
        margin: 1em auto;
    }

    @media (max-width:1024px) {
        .picture-dev1 {
            display: none;
        }

        .picture-dev3 {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .description {
            width: auto;
            margin-bottom: 1em;
            font-size: 1em;
        }

    }

}



























/* CSS THOMAS */



header {
    height: 20vh;
}

.header_bar {
    height: 20vh;
}

.logo {
    height: 25vh;
}

#ecole {
    /* height: 80vh; */
    width: auto;
}

@media screen and (max-width :991px) {
    .navbar-nav {
        margin-left: 10px;
    }
}


























































































































































/* CSS MARIE SO */


















































































/* CSS MATHIS */

.footerbackground {
    background-color: #28004ec9;

}

.logofooter {
    height: 25px;
    width: 25px;
}

.parallax {
    /* The image used */
    background-image: url("../img/image-Accueil.jpg");
  
    /* Set a specific height */
    min-height: 300px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    overflow-x: hidden;
}
@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
}
