@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


html, body {
    font-family: 'Roboto', sans-serif;

}

main {
    overflow-x: hidden;
}

p {
    font-family: 'Roboto', sans-serif;
}
.roboto {
    font-family: 'Roboto', sans-serif !important;
}
/* CSS DAVID */
main h3 {
    margin-bottom: 2em;
}


.title h2 {
    padding-top: 5em;
}
.title h3 {
    padding-top: 1em;
}

.program {
    margin: 2em auto;
}

.program h3 {
    margin-bottom: 1em;
}
.title-back {
    padding: 0.5em;
}
.description {
    font-size: 1.2em;
    margin: auto;
    width: 75%;
    height: 100%;
   
}

.icon-language {
    height: 3em;
    width: 3em;
}

.picture-dev {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.picture-dev1 {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.picture-dev3 {
    display: none;
}

.language {
    margin-top: 5em;
}

.icon-language {
    height: 5em;
    width: 5em;
    margin: 1em;
}

@media (max-width:768px) {
    .title {
        height: auto;
    }

    /* .title img {
        height: 50vh;
    } */
    .program {
        margin: 0 auto;
        font-size: 1em;
    }

    main h3 {
        margin: 1em auto;
    }

    .language {
        margin: 1em auto;
    }

    .icon-language {
        height: 3em;
        width: 3em;
        margin: 0;
    }

}

@media (max-width:1024px) {
    .picture-dev1 {
        display: none;
    }

    .picture-dev3 {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .description {
        width: auto;
        margin-bottom: 1em;
        font-size: 1em;
    }

    .title h2 {
        padding: 0;
    }
    .title h3 {
        padding: 0;
    }

    

}

/* CSS THOMAS */

header {
    background: linear-gradient(50deg, #508fee, #c967f6)
}

.logo  {
    object-fit: contain;
    height: 10rem ;
}

.thegrid  {
    display: grid;
    grid-template-rows: 3fr 2fr 5fr;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-areas:
    "first first batiment"
    "gare logo_rectangle batiment"
    "gare second second";
    gap: 0.5rem;
    }

    .first_text {
        grid-area: first;
    }

    .second_text {
        grid-area: second;
    }

    .batiment {
        grid-area: batiment;
    }

    .logo_rectangle {
        grid-area: logo_rectangle;
    }

    .gare {
        grid-area: gare ;
    }

    .thegrid img {
        height: 80%;
        width: 80%;
        object-fit: contain;
    }

    h1 {
        font-family: 'Bebas Neue', cursive !important;
        letter-spacing: 0.20rem;
        font-size: 3rem !important;

    }

@media screen and (max-width :991px) {

    .thegrid  {
        display: block;
        margin-bottom: 3rem ;
        }

        h1 {
            font-size: 1.5rem !important;
        }

}


/* CSS MATHIS */

.footerbackground {
    background-color: #28004ec9;

}

.logofooter {
    height: 50px;
    width: auto;
}

.arrowup {
    position: absolute;
    bottom: 0;
    left: 50%;
    color: white;
}

.arrowup:hover {
    color: black;
}
footer {
    position: relative;
}

.parallax1 {
    /* The image used */
    background-image: url("../img/background1.jpg");
  
    /* Set a specific height */
    min-height: 300px; 
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax2 {
    /* The image used */
    background-image: url("../img/background2.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
  }

  .parallax3 {
    /* The image used */
    background-image: url("../img/background3.jpg");
  
    /* Set a specific height */
    min-height: 100px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

body {
    overflow-x: hidden;
}
@media screen and (max-width: 650px) {
    .parallax1, .parallax2, .parallax3 {
      background-attachment: scroll;
    }
    .cards {
        height: 60vh!important;
    }

    .arrowup {
        position: absolute;
        bottom: 0;
        left: 80%;
        color: white;
    }
}
